name: CI-dev-pipeline

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'

env:
  TEST_TAG: target/impeller:beta
  TEST_GCLOUD_TAG: target/impeller:beta-gcloud

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804
        with:
          images: target/impeller
          flavor: |
            latest=false
            prefix=beta
            suffix=

      - name: Build and export to Docker
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          file: ./Dockerfile
          load: true
          tags: ${{ env.TEST_TAG }}


      - name: Build and push Docker image
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.TEST_TAG }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Extract metadata (tags, labels) for Docker with gcloud
        id: meta-g
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804
        with:
          images: target/impeller
          flavor: |
            latest=false
            prefix=beta
            suffix=gcloud

      - name: Build and export to Docker with gcloud
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          file: ./Dockerfile-gcloud
          load: true
          tags: ${{ env.TEST_GCLOUD_TAG }}


      - name: Build and push Docker image with gcloud
        if: github.event_name != 'pull_request'
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          file: ./Dockerfile-gcloud
          push: true
          tags: ${{ steps.meta-g.outputs.tags }}
          labels: ${{ steps.meta-g.outputs.labels }}
